.Todo-container {
  background-color: #f1f0de;
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.Input-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* text-align: start; */
  text-align: left;
}


.Todo-title {
  font-size: 80px;
  padding-bottom: 30px;
  color: #898979;
}

.Input {
  background-color: #e8e8e7;
  width: 25rem;
  height: 2.4rem;
  border: solid 1px white;
  text-align: start;
  font-size: 20px;
  color: #00bfff;
  font-weight: bold;
}

.Item {
  display: flex;
  align-items: start;
}

.Todos-left {
  width: 27rem;
  text-align: start;
  color: #adada2;
}
