.mainContainer {
    background-color: #ffffff;
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.header {
    color: #cccccc;
}

.input {
    background-color: #fcfcfc;
    width: 30rem;
    height: 2.4rem;
    border: solid 1px white;
    text-align: start;
    font-size: 20px;
    color: #cccccc;
    font-weight: bold;
    box-shadow: 1px 0px 10px 0px #888888;
}
.u-li {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos-left {
    background-color: #fcfcfc;
    width: 30rem;
    height: 2.4rem;
    border: solid 1px white;
    text-align: start;
    font-size: 20px;
    color: #00bfff;
    font-weight: bold;
    box-shadow: 1px 0px 10px 0px #888888;
}

.extra-style-1 {
    background-color: #fcfcfc;
    width: 29.8rem;
    height: 0.2rem;
    border: solid 1px white;
    padding-top: 0px;
    box-shadow: 1px 0px 10px 0px #888888;
}

.extra-style-2 {
    background-color: #fcfcfc;
    width: 29.6rem;
    height: 0.2rem;
    border: solid 1px white;
    padding-top: 0px;
    box-shadow: 1px 0px 10px 0px #888888;
}

.todos-left-text {
    color: #c0c0c0;
    margin: 0;
    padding: 6px 6px;
}